@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Hi I'm Ian Noyes</h3>

<address>
    123 Fake St.<br />
    Lakewood, WA 98***<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <a href="mailto:noyese18@hotmail.com.com">noyese18@hotmail.com</a><br />
     
</address>