@model GameProject.Models.Player

@{
    ViewBag.Title = "Home Page";
}



<div>
    <h1>Build It</h1>
</div>

<sub>Playing as @Model.Name</sub>

<div><input type="button" id="collectWood" value="Collect Wood" /><span id="woodCount"></span></div>

<div><input type="button" id="woodHut" value="Lumberjack Hut" /><span id="hutCount"></span></div>